
main nav {
    text-decoration: none;
    text-align: center;
    border: 1px solid gray
    padding: 10px; 
    color:peru;
}

main nav a {
    color: peru;
    margin: 30px;
    text-decoration: none;

}


h2{
    background-color:Black;
    color:white;font-size:30px

}
h1{
    text-align:center;color:orange ;font-family:sans-serif;

}
table{
    font-size:20px;border:1px solid firebrick; border-collapse:collapse;
}
tr{
    border:1px solid firebric;
}


html{
    margin-bottom: 500px;
    font-size: 30px;
    font-style:italic;
    font-weight: 100;
}

img{
   text-align: left;
   
}

footer{
   background-color: black;
   color: white
}
h3{
   background-color: black;
   color: white
}

div p{
    border: 2px solid gray;
    border-radius: 9px;
    margin-left: 101px;
    margin-right: 102px;
    padding: 10px 10px 10px 10px;
    font-size: 9px;


}



div p:hover{
    color: red
}


